# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\rest_api\mixinsProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
